.arch_contact_us_duplicate * {
  font-family: "Lato", sans-serif;
}

.arch_contact_us_duplicate .icon-block svg {
  width: 100%;
  height: 100%;
}

.arch_contact_us_duplicate .icon-block {
  width: 30px;
  height: 30px;
}

.arch_contact_us_duplicate .text-blk {
  margin: 0;
  padding: 0;
  line-height: 25px;
}

.arch_contact_us_duplicate .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: flex-start;
}

.arch_contact_us_duplicate .responsive-cell-block {
  min-height: 75px;
}

.arch_contact_us_duplicate .responsive-container-block.big-container {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 50px;
  background-color: var(--col3);
}

.arch_contact_us_duplicate .responsive-container-block.container {
  max-width: 1100px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .text-blk.section-head {
  font-size: 60px;
  line-height: 65px;
  margin-bottom: 24px;
}

.arch_contact_us_duplicate .text-blk.section-subhead {
  font-size: 14px;
  line-height: 18px;
  color: #7e7e7e;
}

.arch_contact_us_duplicate .input {
  width: 100%;
  margin-bottom: 15px;
  height: 54px;
  border-radius: 5px;
  border: 2px solid #767676;
  padding: 1px 16px;
  font-size: 16px;
}

.arch_contact_us_duplicate .textinput {
  width: 100%;
  height: 125px;
  margin-bottom: 27px;
  border: 1px solid #767676;
  font-size: 16px;
  padding: 16px;
}

.arch_contact_us_duplicate .button {
  height: 50px;
  min-width: 240px;
  font-size: 16px;
  color: white;
  border: 2px solid #767676;
  margin-bottom: 60px;
  background-color: var(--col1);
}

.arch_contact_us_duplicate .form-wrapper {
  border-bottom: 4px solid var(--col2);
  margin-bottom: 60px;
}

.arch_contact_us_duplicate .social-media-icon-container {
  display: flex;
  max-width: 400px;
  justify-content: space-evenly;
}

.arch_contact_us_duplicate .input-element {
  background-color: white;
}

.arch_contact_us_duplicate .icon-block.social-icon {
  fill: var(--col1);
}

@media (max-width: 1024px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 55px;
    line-height: 60px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .arch_contact_us_duplicate
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-bottom: 80px;
  }

  .arch_contact_us_duplicate
    .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    margin-bottom: 80px;
    text-align: center;
  }

  .arch_contact_us_duplicate .input {
    height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.container {
    justify-content: space-evenly;
    margin: 80px 0;
  }

  .arch_contact_us_duplicate
    .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    margin-bottom: 80px;
  }
}

@media (max-width: 500px) {
  .arch_contact_us_duplicate .text-blk.section-head {
    font-size: 40px;
    line-height: 45px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding: 0 20px;
  }

  .arch_contact_us_duplicate .input {
    height: 40px;
  }

  .arch_contact_us_duplicate
    .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-ipadp-6.wk-desk-5 {
    margin-bottom: 80px;
  }

  .arch_contact_us_duplicate
    .responsive-cell-block.wk-mobile-12.wk-ipadp-6.wk-desk-5.wk-tab-10 {
    text-align: left;
    padding: 0 20px;
  }

  .arch_contact_us_duplicate .responsive-container-block.big-container {
    padding: 0 30px;
  }

  .arch_contact_us_duplicate
    .responsive-cell-block.wk-mobile-12.wk-desk-5.wk-tab-10.wk-ipadp-5 {
    padding: 0 20px;
  }

  .arch_contact_us_duplicate .button {
    width: 100%;
    margin-bottom: 40px;
    height: 50px;
  }

  .arch_contact_us_duplicate .form-wrapper {
    margin-bottom: 40px;
  }

  .arch_contact_us_duplicate .icon-block {
    width: 25px;
    height: 25px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
