.Navbar {
  width: 100vw;
  height: 10vh;
  background-color: var(--col1);
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  display: flex;
}

.LOGO {
  font-size: var(--head1);
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.LOGO:hover {
  color: var(--col3);
}
.Navbar ul {
  list-style: none;
  cursor: pointer;
  margin-right: 2.5rem;
  gap: 2.25rem;
  font-weight: 100;
}
.cta0 {
  cursor: pointer;
  transition: all 0.3s;
}
.cta0:hover {
  transform: scale(0.9);
}
.Navbar > ul,
.rsm {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: var(--p1);
}
.Navbar > ul > li {
  cursor: pointer;
  transition: all 0.3s;
}
.Navbar > ul > li:hover {
  color: var(--col4);
}
.CTA {
  transition: all 0.3s;
  font-size: var(--p2);
  cursor: pointer;
}
.CTA:hover {
  transform: scale(0.9);
}
.rsm {
  gap: 1.5rem;
  font-weight: 100;
  margin-right: 2rem;
}
.hbm {
  display: none;
  margin-right: 1.5rem;
}
.nav-menu {
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .hbm {
    display: block;
    font-size: 1.5rem;
  }
  .Navbar > ul,
  .Navbar > .rsm {
    display: none;
  }
  .nav-menu {
    position: fixed;
    z-index: 99;
    background-color: var(--col1);
    height: 100vh;
    filter: opacity(0.9);
    width: 100%;
  }
  .nav-menu > #inner-menu {
    display: block;
    list-style: none;
    color: white;
    display: flex;
    padding: 0;
    gap: 1rem;
    width: 100vw;
    margin-top: 16vh;
    font-size: var(--head1);
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
  .fa-x {
    position: absolute;
    top: 4%;
    right: 8%;
    color: white;
    font-size: 1.5rem;
    z-index: 891;
  }
  .rsm {
    flex-direction: column;
    align-items: start;
    text-align: center;
  }
  .rsm,
  .rsm > button {
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
  }
  .cta0 {
    text-align: center;
    width: 100vw;
  }
}
