.main-home {
  display: flex;
  width: 88vw;
  align-items: center;
  margin-inline: auto;
  justify-content: space-evenly;
  height: 95vh;
}
.main-img {
  width: 32vw;
}
.rs-home {
  width: 50vw;
}
.contact-btn {
  margin-top: 1rem;
  background: var(--col2);
  cursor: pointer;
  transition: all 0.3s;
  color: white;
  font-weight: 500;
  font-size: var(--p2);
}
.contact-btn:hover {
  transform: scale(0.9);
}
.services {
  width: 100vw;
  display: flex;
  padding-top: 2rem;
  height: 80vh;
  padding-bottom: 2rem;
  background-color: white;
  justify-content: space-around;
  align-items: center;
}
.grp1 {
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.box {
  height: 12rem;
  width: 12rem;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: 500;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.box > img {
  width: 6.1rem;
}
.box:hover {
  font-weight: 700;
  box-shadow: rgba(86, 69, 62, 0.3) 0px 1px 2px 0px,
    rgba(86, 69, 62, 0.15) 0px 2px 6px 2px;
}
.contact {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  align-items: center;
  margin-bottom: 7rem;
  margin-inline: auto;

  gap: 10rem;
  width: 80vw;
  height: fit-content;
}

.lsc {
  width: 30rem;
}
.contact > form {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  display: flex;
  border-radius: 3px;
  border-radius: 0.2rem;
  height: 40vh;
  background-color: var(--col1);
  width: 32vw;
  justify-content: center;
}
.contact > form > input,
.contact > form > textarea {
  width: 90%;
  border-radius: 1px;
  background-color: var(--col2);
  height: 1.5rem;
  font-size: var(--p2);
  padding: 0.5rem;
  border: none;
  outline: none;
}
.contact > form > textarea {
  height: 5rem;
}

@media (max-width: 767px) {
  .main-home {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 80vw;
    padding-top: 8rem;
    padding-bottom: 4rem;
    height: auto;
  }
  .rs-home {
    width: 100%;
  }
  .services {
    flex-direction: column;
    height: auto;
  }
  .grp1 {
    width: 100vw;
    gap: 0.9rem;
  }
  .box {
    height: 10rem;
    width: 10rem;
  }
  .box > img {
    width: 5rem;
  }
}
