@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");
:root {
  --col1: #211c1d;
  --col2: #56453e;
  --col3: #e0d7c7;
  --col4: #f1e2ad;
  --head1: clamp(1.5rem, 0.964rem + 1.429vw, 2.25rem);
  --p1: clamp(1rem, 0.893rem + 0.286vw, 1.15rem);
  --p2: 0.85rem;
}

body {
  margin: 0;
  transition: all;
  background-color: var(--col3);
  color: var(--col1);
}

.lato {
  font-family: "lato";
}

.oswald {
  font-family: "oswald";
}

.col1 {
  color: var(--col1);
}

.col2 {
  color: var(--col2);
}

.col3 {
  color: var(--col3);
}

.col4 {
  color: var(--col4);
}

button {
  border: none;
  border-radius: 1px;
  background: white;
  padding: 0.5rem 1rem;
}
.head1 {
  font-size: var(--head1);
}
.p1 {
  font-size: var(--p1);
}
.p2 {
  font-size: var(--p2);
}
